@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
    --font1: 'Lora', serif; /* para os parágrafos do texto */
    --font2: 'Cabin', sans-serif;  /* para o título principal */
    --font3 : 'Raleway', sans-serif; /* para o menu*/
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif
}
 
body{
    background-color: #dab4c5;
}
p{
    line-height: 1.5em;
    text-indent: 0.9em;
    margin: 10px ;
} 

.momento{
    margin-top: 30px;
}

.datas{
    background-image: linear-gradient(to right, #bb678e, #cf96ab, #dfb2c2, #e6ccd6,transparent);
    color: #3d2530;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-radius: 50px;
    width: 270px;
}

header{
    background-image:linear-gradient(to bottom, rgb(206, 114, 122, 0.5), rgb(218, 155, 160, 0.5), rgb(233, 194, 197, 0.5)), url('../midia/fundo-inicio-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: right center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:rgb(56, 39, 39);
}

header h1{
    font-family: var(--font2);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

/*BLUR 
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;
 */ 

section #tela-apresentacao{
    position: relative;
}

header nav{
    position: absolute;
    top: 3.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    text-align: right;
    line-height: 1;
    backdrop-filter: blur(7px);
    width: 100%;
    max-height: fit-content;
    padding: 15px;
}

header nav a{
    font-family: var(--font3);
    color: #2b1f1f;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 1.2em;
    margin: 0vw 0.2vw;
    border-radius: 7px;
    padding: 4px;
}
header nav a:hover{
    color:rgb(219, 231, 241);
    transition: 0.5s;
    color: black;
    background-color: rgba(211, 208, 208, 0.253);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.158);
}
header #tela-apresentacao h1{
    font-size: 9vw;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
}
header #tela-apresentacao h2{
    font-size: 15px;
    padding: 0px 10px;
}
header #tela-apresentacao p{
    font-size: 1.3em;
}
/*FIM DA TELA DE INICIO*/

main{
    background-color: #F0DCE5;
    height: fit-content;
    display: flex;  
    flex-direction: column;
    margin: 1vw 3vw 1vw 3vw;
    border-radius: 5px;
    box-shadow: 1.5px 1px 5px 2px rgba(0, 0, 0, 0.185);
}

main p{
    font-family: var(--font1);
    line-height: 1.8em;
}

#comeco{
    display: flex;
    flex-direction: column;
}

#comeco > h2{
    text-align: center;
    color: #6d334e;
    background-color: #f3a1bf;
    padding: 5px 10px 5px 10px;
    margin-top: 0.2vw;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.185);
}

#comeco > #primeiro-dejaneiro{
    display: block;
    flex-direction: row;
}

#comeco > #primeiro-de-janeiro > img{
    display: block;
    max-width: 50%;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.514);
}

#aniversario{
    display: block;
    flex-direction: column;
}

#aniversario > div#capa-aniversario{
    display: flex;
}

#aniversario > div#capa-aniversario > img{
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: 1px;
    background-image: radial-gradient();
}


#depois-do-pedido{
    display: block;
    flex-direction: row;
}

#depois-do-pedido > img{
    display: block;
    max-width: 50%;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.514);
}