*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

section#tela-apresentacao{
    background-image:linear-gradient(to bottom, rgb(206, 114, 122, 0.5), rgb(218, 155, 160, 0.5), rgb(233, 194, 197, 0.5)), url('../midia/fundo-inicio-aumentada.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:rgb(56, 39, 39);
}
section nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}
section nav a{
    color: rgb(56, 39, 39);
    text-decoration: none;
    padding: 0px 10px;
    font-size: 1.4em;
    margin: 0vw 0.7vw;
}
section nav a:hover{
    color:aliceblue;
    background-color: rgb(82, 29, 43);
    transition: 1.3s;
}
section#tela-apresentacao h1{
    font-size: 9vw;
}
section#tela-apresentacao h2{
    font-size: 15px;
    padding: 0px 10px;
}
section#tela-apresentacao p{
    font-size: 1.3em;
}
/*FIM DA TELA DE INICIO*/

section#nosso-comeco{
    background-color: aqua;
    height: fit-content;
}
/*FIM DA TELA DE COMEÇO*/
section#momentos-juntos{
    background-color: blue;
    height: fit-content;
}
/*FIM DA TELA DE MOMENTOS*/
section#viagens{
    background-color: aquamarine;
    height: fit-content;
}
/*FIM DA TELA DE VIAGENS*/
section#perca-postura{
    background-color: antiquewhite;
    height: fit-content;
}