*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

section#tela-apresentacao{
    background-image:linear-gradient(to bottom, rgb(206, 114, 122, 0.5), rgb(218, 155, 160, 0.5), rgb(233, 194, 197, 0.5)), url('../midia/fundo-inicio-grande.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:rgb(56, 39, 39);
}
section nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}
section nav a{
    color: rgba(56, 39, 39, 0.76);
    text-decoration: none;
    padding: 0px 10px;
    font-size: 1.4em;
    margin: 0vw 0.2vw;
    border-radius: 8px;
}
section nav a:hover{
    color:rgba(240, 248, 255, 0.822);
    background-color: rgba(82, 29, 43, 0.623);
    transition: 1.3s;
}
section#tela-apresentacao h1{
    font-size: 9vw;
}
section#tela-apresentacao h2{
    font-size: 15px;
    padding: 0px 10px;
}
section#tela-apresentacao p{
    font-size: 1.3em;
}
/*FIM DA TELA DE INICIO*/

section#nosso-comeco{
    background-color: rgb(233, 113, 139);
    height: fit-content;
}
/*FIM DA TELA DE COMEÇO*/
section#momentos-juntos{
    background-color: rgb(223, 95, 123);
    height: fit-content;
}
/*FIM DA TELA DE MOMENTOS*/
section#viagens{
    background-color: rgb(230, 89, 119);
    height: fit-content;
}
section#canoa-quebrada{
    background-image: url('../midia/viagens/eu-el-pordosol.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
    width: 50vw;
    height: 50vh;
}
/*FIM DA TELA DE VIAGENS*/
section#perca-postura{
    background-color: rgb(231, 64, 100);
    height: fit-content;
}