*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #CCFBFF, #EF96C5);
    position: relative;
}

/*SO PRA DIFERENCIAR*/


main nav ul img{
    width: 30px;
    /*background-color: rgba(255, 255, 255, 0.637);*/
    background: rgba(255, 255, 255, 0.486);
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

main nav ul img:hover{
    background-color: #ffffffc7;
    transform: translate(-3px, -3px);
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
}


main{
    /*background-color: rgba(255, 255, 255, 0.171);*/

    width: fit-content;
    margin: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff54;
}

#mural img{
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
}



/*main{
    background-color: rgba(255, 255, 255, 0.233);
    height: 90vh;
    min-width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin-top: 15px;
} */

/*main #mural{
    background: url('../midia/momentos-inicio-a-agora/mural-momentos.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    margin: 28px 10px 0px 10px;
    display: flex;
}*/